.table-responsive {
    background-color: white;
}

th:not(:last-child) .stick {
    border-right: 2px solid lightgrey;
}

th button {
    float: right;
}

input {
    min-width: 80px;
}

input,
.btn:focus,
.btn:active {
    box-shadow:none !important;
    outline:0px !important;
}

.nowrap {
    white-space: nowrap;
}

.height {
    height: 70px;
}
