.stick {
    border-right: 2px solid lightgrey;
    /* display: inline-block; */
}

.height {
    height: 70px;
    /* min-width: 100px; */
} 

table {
    background-color: white;
}

th {
    max-width: 60px;
}

button {
    float: right;
}