table {
    background-color: white;
}

th {
    max-width: 100px;
}

th:not(:last-child) .stick{
    border-right: 2px solid lightgrey;
}

th button {
    float: right;
}

input,
.btn-light:focus,
.btn-light:active{
    box-shadow:none !important;
    outline:0px !important;
}

.nowrap {
    white-space: nowrap;
}

.height {
    height: 70px;
}
